extends layout

block content
    h1= title
    p Welcome to #{title}
    div
        img(src="http://unclesmiley.files.wordpress.com/2010/01/smiley1.jpg", width="256")
  
    // script(type="test/javascript", src="test")